apispec-webframeworks==0.5.2
celery==5.3.1
fastparquet==2024.5.0
Flask-Bootstrap==3.3.7.1
Flask-Cors==4.0.2
Flask-JWT-Extended==4.5.2
flask-marshmallow==0.15.0
Flask-Migrate==4.0.4
Flask-RESTful==0.3.10
Flask-Session==0.5.0
Flask-WTF==1.2.1
ipykernel==6.24.0
marshmallow-sqlalchemy==0.29.0
matplotlib==3.9.2
passlib==1.7.4
pip==24.2
pqdm==0.2.0
pyarrow==17.0.0
pycodestyle==2.10.0
python-dotenv==1.0.0
PyYAML==6.0.1
redis==4.6.0
scipy==1.11.1
setuptools==63.4.3
tox==4.6.4
xarray==2024.7.0
